ion-row:nth-child(even) {background-color: #f2f2f2;}
ion-row:nth-child(odd) {background-color: #fdf9d4;}
ion-row{
    margin: 7px 0;
    font-weight: bold;
}

ion-grid{
    background-color: #fcdffc;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.right-column{
    text-align: center;
    color: #FFF;
    background-color: #ff70a7;
    border-radius: 20px;
}