<ion-header>
  <ion-toolbar>
    <ion-title>round-result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content" style="height: 80%;">
    <ion-grid>
      <ion-row *ngFor="let p of playersWithVotes">
        <ion-col size="4" offset="3" class="left-column">{{p.name}}</ion-col>
        <ion-col size="3" class="right-column">{{p.votes}} vote{{p.votes == 1 ? '' : 's'}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="text-align: center;">
    <ion-button *ngIf="isCreator" (click)="startNextRound()">Next round</ion-button>
  </div>
</ion-content>
