.fullheight {
    height: 80%;
  }
  


h1 {
  text-align: center;
  padding: 30px 10px;
  margin: 0 10px;
  border: 2px solid black;
  background-color: darksalmon;
  border-radius: 20px;
}

ion-select{
  text-align: center;
  max-width: 100% !important;
  font-weight: bold !important;
  font-size: 15pt !important;
  margin-bottom: 40px;
  border: 2px dotted #ffc409;
  border-radius: 10px;
}