<ion-header>
  <ion-toolbar>
    <ion-title>claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullheight center-content">
    <div><h1>{{statement.value}}</h1></div>
  </div>
  

  <ion-select [(ngModel)]="answer" interface="popover" placeholder="Choose your candidate here...">
    <ion-select-option *ngFor="let player of players" [value]="player.id">{{player.name}}</ion-select-option>
  </ion-select>
  <ion-fab *ngIf="answer != undefined" vertical="end" horizontal="center">
    <ion-fab-button (click)="submit()">Submit</ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>Quit</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="startSkipVote()">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
