<ion-header>
  <ion-toolbar>
    <ion-title>join-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Enter your name</p>
  <ion-input type="text" [(ngModel)]="playerName"></ion-input>
  <p class="error-msg" *ngIf="viewPlayerNameErrorMsg == true">You need to enter a name</p>
  <p class="error-msg" *ngIf="viewPlayerNameTakenErrorMsg == true">That name is already taken by one of your playing mates</p>
  <hr />
  <p>Name of the game you want to join</p>
  <ion-input type="text" [(ngModel)]="gameName"></ion-input>
  <p class="error-msg" *ngIf="viewGameNameEmptyErrorMsg == true">You need to enter a game name</p>
  <p class="error-msg" *ngIf="viewWrongGameNameErrorMsg == true">Game name does not exist</p>
  <hr />
  <div class="textCenter">
    <ion-button (click)="joinGame()">Join Game</ion-button>
  </div>
</ion-content>
