<ion-header>
  <ion-toolbar>
    <ion-title>startmenu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" [routerLink]="['/new-game']">Create Game</ion-button>
  <ion-button expand="block" [routerLink]="['/join-game']">Join Game</ion-button>
</ion-content>
