<ion-header>
  <ion-toolbar>
    <ion-title>answer-submitted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullheight center-content">
    <div><h1>{{comment}}</h1></div>
  </div>
</ion-content>
