<ion-header>
  <ion-toolbar>
    <ion-title>new-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Enter your name</p>
  <ion-input type="text" [(ngModel)]="playerName"></ion-input>
  <p class="error-msg" *ngIf="viewPlayerNameErrorMsg == true">You need to enter a name</p>
  <hr />
  <p>Some questions are more daring or taboo than others. Choose what kind of questions to include.</p>
  <ion-list>
    <ion-radio-group name="game-type" value="no-explicit" (ionChange)="gameTypeChanged($event)">
      <ion-item>
        <ion-label>No explicit questions</ion-label>
        <ion-radio  value="no-explicit"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Both explicit and normal questions</ion-label>
        <ion-radio value="include-explicit"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Only explicit questions</ion-label>
        <ion-radio value="only-explicit"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <hr />
  <p>Name your game so friends can find it</p>
  <ion-input type="text" [(ngModel)]="gameName" (ngModelChange)="checkGameNameAvailability()"></ion-input>
  <p class="error-msg" *ngIf="viewGameNameEmptyErrorMsg == true">You need to enter a game name</p>
  <p class="error-msg" *ngIf="viewGameNameTakenErrorMsg == true">That game name is not available</p>
  <hr />
  <div class="textCenter">
    <ion-button (click)="startGame()">Create Game</ion-button>
  </div>
</ion-content>
