
p{
    text-align: center;
    font-weight: bold;
}

ion-input{
    background-color: #fcef86;
}

.textCenter{
    text-align: center;
}

hr{
    border-top: 3px dotted #bbb;
    margin-top: 40px;
    margin-bottom: 40px;
}

.error-msg{
    color: red;
}