<ion-header>
  <ion-toolbar>
    <ion-title>Lobby for {{gameName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let player of players">
    <ion-item>{{player.name}}</ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-button shape="round" *ngIf="isCreator && players.length > 1" (click)="startGame()">
    Start game
  </ion-button>
</ion-footer>
